h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
}

.dark-mode {
  background-color: black;
  color: white
}


.wrapper {
  background: #fff;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 20px auto;
  max-width: 1000px;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
}


.card {
  text-align: center;
  display: inline-grid;
  width: 20rem;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #be649c;
  animation: soft-glow 1s forwards ease-in-out infinite;
}

.cocktail-list {
   display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cocktail-card {
  text-align: center;
  padding: 1rem;
  width: 10rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

#cocktail-header {
  display: flex;
  justify-content: center;
  background:pink;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}


.cocktail-avatar {
  justify-self: center;
  height: 18rem;
  width: auto;
}


#search-bar {
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.likes {
  display: flex;
  justify-content: center;
}

 .big-btn {
  justify-content: center;
  width: 90px;
  height: 40px;
}


button.likebutton {
  background-color: whitesmoke;
  color:black;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  justify-content: center;
}